

/*==============================
Responsive start for psd project-6
======================================*/




/*===============================
 X-Small devices (portrait phones, less than 576px)
=======================================*/

@media (max-width: 575px) { 
	
.hamburger-menu-conteiner{
	display:flex;
}

#check{
	display:block;
}	

.nav-btn{
	 position:fixed;
     height:100vh;
     top: 64px;
	 left:0;
	 width:100%;
	 background:#69bde7;
	 flex-direction:column;
	 align-items:center;
	 justify-content:space-between;
	 overflow-x:hidden;
	 overflow-y:auto;
	 transform:translateX(100%);
	 transition:0.65s;
}

#check:checked ~ .nav-btn{
	 transform:translateX(0);	
}


#check:checked ~ .nav-btn .nav-link{
	 animation: animation .5s ease forwards var(--i);
}

.search{
   display:none;	
}

.nav-links{
	flex:initial;
	width:100%;

}

.nav-links > ul {
    display: block;
}

		
.log-sing{
	flex:initial;
	width:100%;
    padding-bottom:80vh;
   	opacity:0;
	transform:translateY(15px);
}	


.nav-link {
	margin:0;
    width: 100%;
    display: grid;
    place-content: center;
	opacity:0;
	cursor:pointer;
	transform:translateY(15px);
}

.nav-link > a{
	line-height:1;
	padding:1.6rem 2rem;
}


.nav-link:hover{
	background:#50a9d6;
	text-decoration:none;
}	


.nav-link a:hover{
    background:none;
	transform:none;
	text-decoration:none;
}

.hero_area .hero_content .hero_info {
	top:auto;
    width: 55%;
    right: 10px;
    bottom:15px;
    border: 2px solid #3596e87d;
    border-radius: 20px;

}

.hero_area .hero_content .hero_info h2{
    font-size: 1rem;
    padding-bottom: 0rem;
    color: #000000ba;
}

.hero_area .hero_content .hero_info p{
	padding-bottom:0.5rem;
	line-height: 9px;
	font-size: .6rem;
}

.hero_area .hero_content .hero_info 
.read_more_btn{
    padding: .1rem 1rem;
    font-size: .5rem;
	margin-bottom:0.5rem;
}


.our_area .our_info{
	width:85%;
}

.our_area .our_info .our_content p{
	padding-bottom:1rem;
	font-size:1rem;
}

#section-five {
    padding-bottom: 0rem;
}



.single_area .single_content {
    width: 100%;
    margin: 0;

}

.single_area .single_content .single_info {
    width: 80%;
    text-align: center;
    float: none;
    border-right: 0;
    padding-right: 0;
    margin: 15px auto;
}

.last_p{
    border-bottom: 1px solid #cbcbe12e;
    padding-bottom: 10px;

}

.single_area .single_content .single_info:last-child{
    margin: 15px auto;
	
}

.company_info_area .company_info_content {
    width: 100%;
    margin: 0;

}

.company_info_area .company_info_content .prioritie_info {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.company_photo {
    display: block;
    width: 85%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.company_photo img{
	width:100%;
	height:auto;
	border-radius: 10px;
}


.company_info_area .company_info_content .single_box_info {
    width: 80%;
    margin: 1% auto;
    padding:0.5rem;
    float: none;
    margin-bottom: 6%;
}

.exactly_area .exactly_info {
    width: 96%;
    padding: 0;
    padding-top: 1rem;
}

.exactly_area .exactly_info .exactly_content h2{
	font-size:1rem;
}

.exactly_area .exactly_info .exactly_content p {
    font-size: .8rem;
    line-height: 15px;
}

.exactly_area .exactly_info .exactly_content ul{
	padding:0;
	padding-top:1rem;
}

.exactly_area .exactly_info .exactly_content ul li {
    padding: .4rem .3rem;
}

.exactly_area .exactly_info .exactly_content ul li a {
    font-size:.7rem;
}

.sports_area .sports_content {
    width: 100%;
    margin: 0;

}

.sports_area .sports_content .single_sports_info {
    width: 80%;
    float: none;
    padding: 10px;
    margin: 10px auto;
    border: 2px solid #736b6b2e;
}

.sports_area .sports_content .single_sports_info p{
	padding-bottom:1rem;
}


.prioritie_info {
    width: 90%;
    padding-bottom: 1rem;
}

.prioritie_info h2{
	font-size:1rem;
}

.prioritie_info p {
    font-size: .8rem;
    line-height: 17px;
}

.nature_area .nature_img {
    width: 100%;
    float: none;
}

.tiket_area {
    background: #4b6b6ede;
    padding-bottom: 1rem;
}

.nature_area .nature_info {
    width: 95%;
    float: none;
    padding-top: 10px;
    margin: 0 auto;
}

.tiket_area .tiket_bg .tiket_info {
    position: static;
    margin: 0px auto;
    width: 90%;
    padding: 0rem;
	margin-top: .6rem;
}

.tiket_area .tiket_bg .tiket_info h2 {
    font-size: 1rem;
    font-weight: bold;
    padding: .5rem 0;
}

.tiket_area .tiket_bg .tiket_info p {
    font-size: .8rem;
    font-weight: bold;
    padding: 0;
}

.arrwed_area .arrwed_info{
	border:none;
}


.tiket_area .tiket_bg .tiket_info .hire_btn {
    padding: .3rem 2rem;
	margin:10px;
}

.arrwed_area .arrwed_info {
    width: 100%;
    margin: 0;
    padding:0;
}

.arrwed_area .arrwed_info .single_arrwed_content {
    width: 90%;
    float: none;
    height: auto;
    margin: 10px auto;
    padding:1rem 0;
    border: 2px solid #a3b0bb12;
}

.fas_mm{
    display: none;
}

.sports_area .sports_content .single_sports_info h3 {
    font-size: 0.8rem;
}

.arrwed_area .arrwed_info .single_arrwed_content h3{
	font-size:.9rem;
	padding-top:0;
}

.arrwed_area .arrwed_info .single_arrwed_content h2{
	font-size:1.3rem;
}

.arrwed_area .arrwed_info .single_arrwed_content p {
    font-size: .8rem;
    line-height: 16px;
}

.single_area .single_content .single_info h2 {
    font-size: 1rem;
    padding-bottom: .3rem;
}


.footer_area .footer_contact {
    width: 100%;
    margin: 0
}

.footer_area .footer_contact .single_footer {
    width:90%;
    padding: 0rem;
    float: none;
    margin: 0 auto;
    text-align: center;
}


.footer_area .footer_contact .single_footer h2{
    padding-top: 2rem;	
    padding-bottom: 5px;
}

.only_div3 {
	margin:10px auto;
}

.social_area .hero .social-links a{
	margin:8px;
}
	
	
}


/*=================================
Small devices (landscape phones, less than 768px)
=======================================*/

@media ( min-width: 576px ) and (max-width: 767px ){
	
.hamburger-menu-conteiner{
	display:flex;
}

#check{
	display:block;
}	

.nav-btn{
	 position:fixed;
	 height:100vh;
	 top:63px;
	 left:0;
	 width:100%;
	 background:#69bde7;
	 flex-direction:column;
	 align-items:center;
	 justify-content:space-between;
	 overflow-x:hidden;
	 overflow-y:auto;
	 transform:translateX(100%);
	 transition:0.65s;
}

#check:checked ~ .nav-btn{
	 transform:translateX(0);	
}


#check:checked ~ .nav-btn .nav-link{
	 animation: animation .5s ease forwards var(--i);
}

.search{
   display:none;	
}


.nav-links{
	flex:initial;
	width:100%;

}

.nav-links > ul {
    display: block;
}

		
.log-sing{
	flex:initial;
	width:100%;
	padding-bottom:80vh;
   	opacity:0;
	transform:translateY(15px);
}	


.nav-link {
	margin:0;
    width: 100%;
    display: grid;
    place-content: center;
	opacity:0;
	cursor:pointer;
	transform:translateY(15px);
}

.nav-link > a{
	line-height:1;
	padding:1.6rem 2rem;
}


.nav-link:hover{
	background:#50a9d6;
	text-decoration:none;
}	


.nav-link a:hover{
    background:none;
	transform:none;
	text-decoration:none;
}

.hero_area .hero_content .hero_info {
	top:auto;
    width: 50%;
    right: 15px;
    bottom: 20px;
   border: 2px solid #3596e87d;
    border-radius: 20px;

}

.hero_area .hero_content .hero_info 
.read_more_btn{
	margin-bottom:0.5rem;
}

.hero_area .hero_content .hero_info p{
	padding-bottom:0.5rem;
}

.our_area .our_info {
    width: 80%;
}

.single_area .single_content {
    margin: 2rem auto;
}

.single_area .single_content .single_info {
    margin-right: 4%;
}

.company_info_area .company_info_content .prioritie_info {
    width: 80%;
    margin: 0 auto;

}

.company_photo {
    display: block;
    width: 80%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.company_photo img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.company_info_area .company_info_content .single_box_info {
    width: 80%;
    margin: 1% auto;
    padding: 1rem;
    float: none;
    margin-bottom: 6%;
}

#section-five {
    padding-bottom: 0rem;
}

.exactly_area .exactly_info {
    width: 70%;
}

.sports_area .sports_content {
    width: 95%;
}



.nature_area .nature_img {
    width: 100%;
    float: none;
}

.nature_area .nature_info {
    width: 95%;
    float: none;
    padding: 15px 0;
    margin: 0 auto;
}

.arrwed_area .arrwed_info {
	width:100%;
	padding-top:0;
    padding-bottom: 2rem;
	border:none;
}

.arrwed_area .arrwed_info .single_arrwed_content {
    width:80%;
    float: none;
    height: auto;
    margin: 10px auto;
	margin-top:5%;
	border: 2px solid #7e8f9d26;
}

.arrwed_area .arrwed_info .single_arrwed_content h3{
	font-size:1.2rem;
}

.arrwed_area .arrwed_info .single_arrwed_content h2{
	font-size:1.3rem;
}

.arrwed_area .arrwed_info .single_arrwed_content p{
	font-size:1rem;
	line-height:20px;
    padding-bottom: 1rem;
}

.tiket_area .tiket_bg .tiket_info {
    width: 40%;
    padding: 1rem;
}

.single_area .single_content .single_info h2 {
    font-size: 1rem;
}

.prioritie_info {
    width:70%;
	padding-bottom: 2rem;
}

.fas_mm{
    display: none;
}

.footer_area .footer_contact {
    width: 100%;
    margin: 0
}

.footer_area .footer_contact .single_footer {
    width: 18%;
    padding: 1rem;
    float: left;
    margin: 0;
    text-align: none;
}

.single_footer.first_colum {
    margin-left: 4% !important;
}

.footer_area .footer_contact .single_footer h2{
    padding-top: 2rem;	
    padding-bottom:10px;
	font-size:1.1rem;
}


.social_area .hero .social-links a{
	margin:8px;
}

}


/*=================================
Medium devices (tablets, less than 992px)
=======================================*/


@media ( min-width: 768px) and (max-width: 992px ){

.hamburger-menu-conteiner{
	display:flex;
}

#check{
	display:block;
}	

.nav-btn{
	 position:fixed;
	 height:100vh;
	 top:63px;
	 left:0;
	 width:100%;
	 background:#69bde7;
	 flex-direction:column;
	 align-items:center;
	 justify-content:space-between;
	 overflow-x:hidden;
	 overflow-y:auto;
	 transform:translateX(100%);
	 transition:0.65s;
}

#check:checked ~ .nav-btn{
	 transform:translateX(0);	
}


#check:checked ~ .nav-btn .nav-link{
	 animation: animation .5s ease forwards var(--i);
}

.search{
   display:none;	
}


.nav-links{
	flex:initial;
	width:100%;

}

.nav-links > ul {
    display: block;
}

		
.log-sing{
	flex:initial;
	width:100%;
	padding-bottom:80vh;
   	opacity:0;
	transform:translateY(15px);
}	


.nav-link {
	margin:0;
    width: 100%;
    display: grid;
    place-content: center;
	opacity:0;
	cursor:pointer;
	transform:translateY(15px);
}

.nav-link > a{
	line-height:1;
	padding:1.6rem 2rem;
}


.nav-link:hover{
	background:#50a9d6;
	text-decoration:none;
}	


.nav-link a:hover{
    background:none;
	transform:none;
	text-decoration:none;
}

.hero_area .hero_content .hero_info {
    top: auto;
    width: 50%;
    right: 15px;
    bottom:4rem;
    border: 2px solid #3596e87d;
    border-radius: 20px;

}

.hero_area .hero_content .hero_info p{
	padding-bottom:1rem;
}

.hero_area .hero_content .hero_info .read_more_btn{
	margin-bottom:0.5rem;
}

.our_area .our_info {
    width: 80%;
}

.single_area .single_content {
    margin: 2rem auto;
}

.single_area .single_content .single_info {
    margin-right: 4%;
}

.company_info_area .company_info_content .prioritie_info {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.company_photo {
    display: block;
    width: 55%;
    height: 100%;
    overflow: hidden;
    margin: 10px auto;
    float: left;
}

.company_photo img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.company_info_area .company_info_content .single_box_info {
    width: 36%;
    margin: 2%;
    padding: 1rem;
    float: right;
    padding-bottom: 4rem;
}

#section-five {
    padding-bottom: 0rem;
}

.exactly_area .exactly_info {
    width: 70%;
}

.sports_area .sports_content {
    width: 95%;
}



.nature_area .nature_img {
    width: 100%;
    float: none;
}

.nature_area .nature_info {
    width: 70%;
    float: none;
    padding: 25px 0;
    margin: 0 auto;
}

.tiket_area .tiket_bg .tiket_info {
    width: 40%;
    padding: 1rem;
}


.single_area .single_content .single_info h2 {
    font-size: 1rem;
}

.prioritie_info {
    width:70%;
	padding-bottom: 2rem;
}


.footer_area .footer_contact {
    width: 100%;
    margin: 0
}

.footer_area .footer_contact .single_footer {
    width: 19%;
    padding: 1rem;
    float: left;
    margin: 0;
    text-align: none;

}

.first_colum{
	margin-left:5%!important;	
}

.footer_area .footer_contact .single_footer h2{
    padding-top: 2rem;	
    padding-bottom:10px;
	font-size:1.1rem;
}


.social_area .hero .social-links a{
	margin:8px;
}



}



/*=================================
Large devices (desktops, less than 1200px)
=======================================*/

@media ( min-width: 993px) and (max-width: 1199px) { 

.our_area .our_info {
    width: 60%;
}

.company_info_area .company_info_content {
    width:88%;
    margin: 0 auto;
    overflow: hidden;
}

.company_info_area .company_info_content .single_box_info {
    width: 25%;
	margin: 1% 0% 1% 1%;
}

.footer_area .footer_contact .single_footer {
    width: 19%;
    padding: 1rem;
}

.single_area .single_content .single_info h2 {
    font-size: 1rem;
}



}


/*=================================
X-Large devices (large desktops, less than 1400px)
=======================================*/

@media ( min-width:  1200px)and (max-width: 1400px) { 
.company_info_area .company_info_content {
    width: 77%;
    margin: 0 auto;
    overflow: hidden;
}

.company_info_area .company_info_content .single_box_info {
    width: 25%;
	margin: 1% 0% 1% 1%;
}


}


/*=================================
  XX-Large devices (larger desktops)
No media query since the xxl breakpoint has no upper bound on its width
=======================================*/

/*pothom a je coding korechi tai hobe
 notun kore kichu likhte hobe na akhane
*/

